#headerNavBlack {
  background: black;
  width: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

#headerNavBlack li {
  margin: 0;
  padding: 8px;
  align-items: center;
  display: flex;
}

#headerNavBlack a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
  font-size: 13px;
}

#headerNavBlack a:hover {
  color: white;
}

#headerNavWhite {
  width: 100%;
}

#headerNavWhite ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#headerNavWhite li {
  margin: 0;
  padding: 10px;
  align-items: center;
  display: flex;
}

#headerNavWhite a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #858585;
  text-decoration: none;
  font-size: 15px;
  font-family: "Courier New", monospace;
}

#headerNavWhite a:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  #headerNavBlack, #headerNavWhite, .headerDivYellow {
    display: none;
  }

  #headerNavWhiteSmall {
    display: flex;
  }
}

.headerDivYellow {
  position: sticky;
  top: 0;
  background: #fd3;
  color: #000;
  font-size: 13px;
  padding: 3px;
  z-index: 10;
}

.headerDivYellow img {
  width: 13px;
  height: 13px;
}
