@media only screen and (max-width: 768px) {

  section {
    margin-bottom: 30px;
  }

  #firstSection {
    background: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px;
    border: solid black 1px;
  }

  .firstSectionLeft {
    background: green;
  }

  .firstSectionRight1 {
    background: red;
  }

  .firstSectionRight2 {
    background: blue;
  }

  #secondSection {
    background: pink;
    display: flex;
    flex-direction: column;
  }

  .secondSectionBox {
    border: solid black 1px;
  }

  #latestNews {
    display: flex;
    flex-direction: column;
  }

  #thirdSection {
    background: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px;
  }

  #latestFunding {
  }

  .thirdSectionBox {
    border: solid black 1px;
  }

  #fourthSection {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    background: orange;
  }

  .fourthSectionBox {
    border: solid black 1px;
  }

  #fifthSection {
    background: gray;
    display: flex;
    flex-direction: column;
  }

  .fifthSectionBox {
    border: solid black 1px;
  }

  #latestDeals {
    display: flex;
    flex-direction: column;
  }

  footer {
    background: purple;
    margin-top: 50px;
  }

  }










}
